<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
    
    


    <title>Home</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper indigo">
                <a href="#" class="brand-logo left">Supertech</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recharge">ADD User</a></li>
                    <li><a href="/add">Recharge</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
       
        
        {{{body}}}

    <footer class="page-footer indigo">
        <div class="container ">
            <div class="row ">
                <div class="col l6 s12 ">
                    <h5 class="white-text">SUPERTECH ELECTRONICS LTD</h5>
                    <p class="grey-text text-lighten-4">we sell all kind of electronics stuff
                    </p>
                </div>
               
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 SuperTech LTD
                <a class="grey-text  text-lighten-4 right" href="#!">Visit Our Website</a>
            </div>
        </div>
    </footer>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


</body>

</html>